<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script type="text/javascript" src="../js/vue.js"></script>
</head>
<!--
  计算属性
  1.定义：要用的属性不存在，需要用已有的属性计算得来
  2.原理：底层借用了Object.definedproperty方法提供的getter和setter
  3.get函数什么时候执行？
    1.初次读取fullName时；2.所依赖的数据发生变化时
  4.优势：与methods实现相比，内部有缓存机制（复用），效率更高，调试方便
  5.备注：
    1.计算属性最终会出现在vm身上，可以直接读取使用
    2.如果计算属性要修改数据，需要些set函数去响应修改，且set中要引起计算时依赖的数据发生变化
-->

<body>
  <div id="root">
    姓:<input type="tetx" v-model='firstName'>
    <br>
    名:<input type="text" v-model='lastName'>
    <br>
    全名:<span>{{fullName}}</span>
  </div>
  <script>
    const vm = new Vue({
      el: '#root',
      data: {
        firstName: '王',
        lastName: '某'
      },
      computed: {
        //完整写法
        // fullName: {

        //get有什么作用？当有人读取fullName时，get就会被调用，且返回值就作为fullName的值
        //get什么时候调用？1.初次读取fullName时；2.所依赖的数据发生变化时 
        // get () {
        //   return this.firstName + '-' + this.lastName
        // },
        // set (value) {
        //   console.log('set', value)
        //   const arr = value.split('-')
        //   this.firstName = arr[0]
        //   this.lastName = arr[1]
        // }
        // }
        //简写方法（不考虑修改属性的情况下可以写）
        fullName () {
          return this.firstName + '-' + this.lastName
        }
      }
    })
  </script>
</body>

</html>